@charset "UTF-8";
/* ▼ グローバル ▼ */
/*!
global > color
------------------------------
*/
:root {
  --color-bg-primary: #524433;
  --color-bg-secondary: #efede9;
  --color-bg-black: #000000;
  --color-bg-white: #ffffff;
  --color-border-black: #000000;
  --color-border-white: #ffffff;
  --color-font-primary: #524433;
  --color-font-white: #ffffff;
  --color-font-base: #000000;
}

/*!
  global > content-width
  ------------------------------
  */
:root {
  --width-content-s: 960px;
  --width-content: 1080px;
  --width-content-l: 1200px;
}

/*!
  global > font
  ------------------------------
  */
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-english: "Montserrat", sans-serif;
}

/* ▼ ファンデーション ▼ */
/*!
  foundation > reset
  ------------------------------
  */
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  display: block;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
  foundation > base
  ------------------------------
  */
body {
  line-height: 2;
  font-size: 14px;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* ▼ ユーティリティー ▼ */
/*!
  utility > utility
  ------------------------------
  */
.u-mt {
  margin-top: 40px !important;
}
@media screen and (min-width: 768px) {
  .u-mt {
    margin-top: 48px !important;
  }
}

.u-ptb {
  padding: 64px 0 !important;
}
@media screen and (min-width: 768px) {
  .u-ptb {
    padding: 80px 0 !important;
  }
}

.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

/* ▼ コンポーネント ▼ */
/*!
  component > button
  ------------------------------
  */
.c-button {
  display: grid;
  width: 220px;
  height: 50px;
  place-items: center;
  position: relative;
  transition: all 0.6s;
}
@media screen and (min-width: 768px) {
  .c-button {
    width: 240px;
    height: 60px;
  }
}
@media (any-hover: hover) {
  .c-button:hover {
    scale: 1.2;
  }
}

.c-button--center {
  margin-inline: auto;
}

.c-button--black {
  background-color: var(--color-bg-black);
}

.c-button--white {
  background-color: var(--color-bg-white);
}

.c-button--black::after {
  content: "";
  width: 24px;
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--color-border-white);
}

.c-button--white::after {
  content: "";
  width: 24px;
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--color-border-black);
}
@media screen and (min-width: 768px) {
  .c-button--black::after,
  .c-button--white::after {
    width: 28px;
  }
}

.c-button-text {
  font-family: var(--font-family-english);
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-button-text {
    font-size: 18px;
  }
}

.c-button-text--white {
  color: var(--color-font-white);
}

/*!
  component > page-title
  ------------------------------
  */
.c-page-title {
  font-size: 24px;
  font-family: var(--font-family-english);
  letter-spacing: 0.08em;
  padding-left: 0.08em;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-page-title {
    font-size: 32px;
  }
}

.c-page-title--white {
  color: var(--color-font-white);
}

/*!
  component > page-kv
  ------------------------------
  */
.c-page-kv {
  width: 100%;
  height: 180px;
  padding-left: 18px;
  display: grid;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .c-page-kv {
    height: 460px;
    padding: 0 143px;
  }
}

.c-page-kv--concept {
  background-image: url(../img/bg-concept-kv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .c-page-kv--concept {
    background-image: url(../img/bg-concept-kv.jpg);
  }
}

.c-page-kv--menu {
  background-image: url(../img/bg-menu-kv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .c-page-kv--menu {
    background-image: url(../img/bg-menu-kv.jpg);
  }
}

.c-page-kv-shoplist {
  background-image: url(../img/bg-shoplist-kv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .c-page-kv-shoplist {
    background-image: url(../img/bg-shoplist-kv.jpg);
  }
}

.c-page-kv--blog {
  background-image: url(../img/bg-blog-kv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .c-page-kv--blog {
    background-image: url(../img/bg-blog-kv.jpg);
  }
}

.c-page-kv--error {
  background-image: url(../img/bg-error-kv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media screen and (min-width: 768px) {
  .c-page-kv--404 {
    background-image: url(../img/bg-error-kv.jpg);
  }
}

.c-page-kv-title {
  color: var(--color-font-white);
  font-family: var(--font-family-english);
  font-size: 26px;
  letter-spacing: 0.08em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-page-kv-title {
    font-size: 36px;
  }
}

/*!
  component > page-nation
  ------------------------------
  */
.c-page-nation-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.c-page-nation-item {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  line-height: 1;
  border: solid 1px var(--color-border-black);
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-page-nation-item {
    width: 40px;
    height: 40px;
  }
}

.c-page-nation-item:nth-of-type(4) {
  border: none;
}

.c-page-nation-item--prev::before,
.c-page-nation-item--next::before {
  content: "";
  display: block;
  width: 8px;
  aspect-ratio: 1/1;
  border-top: 1px solid var(--color-border-black);
  border-right: 1px solid var(--color-border-black);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  pointer-events: none;
}

.c-page-nation-item--prev::before {
  rotate: -135deg;
}

.c-page-nation-item--next::before {
  rotate: 45deg;
}

.is-page-nation-item {
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
  pointer-events: none;
}

.c-page-nation-link {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

/*!
  component > date
  ------------------------------
  */
.c-date-wrapper {
  display: grid;
  gap: 8px;
}

.c-date-text {
  font-family: var(--font-family-english);
  color: var(--color-font-primary);
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .c-date-text {
    font-size: 14px;
  }
}

.c-date-title {
  font-size: 18px;
  line-height: 1.55;
}
@media screen and (min-width: 768px) {
  .c-date-title {
    font-size: 22px;
  }
}

.c-date-title--large {
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .c-date-title--large {
    font-size: 26px;
  }
}

/*!
  component > post
  ------------------------------
  */
.c-post-card-link {
  display: grid;
  gap: 16px;
  transition: all 0.4s;
}
@media screen and (min-width: 768px) {
  .c-post-card-link {
    gap: 20px;
  }
}
@media (any-hover: hover) {
  .c-post-card-link:hover {
    opacity: 0.8;
    scale: 1.1;
  }
}

/*!
  component > posts
  ------------------------------
  */
.c-posts-card-list {
  display: grid;
  gap: 40px;
}
@media screen and (min-width: 500px) {
  .c-posts-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 30px;
  }
}
@media screen and (min-width: 900px) {
  .c-posts-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*!
  component > instagram
  ------------------------------
  */
.c-instagram {
  background-color: var(--color-bg-secondary);
}

.c-instagram-gridbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 9px;
}
@media screen and (min-width: 900px) {
  .c-instagram-gridbox {
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
  }
}

/* ▼ レイアウト ▼ */
/*!
  layout > container
  ------------------------------
  */
.l-container-l,
.l-container,
.l-container-s {
  width: 90%;
  margin: 0 auto;
}

.l-container-s {
  max-width: var(--width-content-s);
}

.l-container {
  max-width: var(--width-content);
}

.l-container-l {
  max-width: var(--width-content-l);
}

/*!
  layout > header
  ------------------------------
  */
.header-logo-nav-btn-wrapper {
  display: flex;
  gap: 82px;
  justify-content: end;
  align-items: center;
  height: 72px;
  padding: 16px 0;
}
@media screen and (min-width: 361px) {
  .header-logo-nav-btn-wrapper {
    justify-content: center;
  }
}
@media screen and (min-width: 900px) {
  .header-logo-nav-btn-wrapper {
    justify-content: space-between;
    height: 80px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav-btn-wrapper {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

.header-logo {
  width: 100%;
  max-width: 120px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .header-logo {
    min-width: 200px;
  }
}

.header-logo img {
  display: block;
}

.header-nav {
  font-family: var(--font-family-english);
  font-size: 12px;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .header-nav {
    font-size: 14px;
  }
}

.header-nav--pc {
  display: none;
}
@media screen and (min-width: 900px) {
  .header-nav--pc {
    display: block;
  }
}

.header-nav--sp {
  display: grid;
  place-items: center;
  color: var(--color-font-white);
  background-color: var(--color-bg-primary);
  height: 40px;
}
@media screen and (min-width: 900px) {
  .header-nav--sp {
    display: none;
  }
}

.header-nav-list {
  display: flex;
}

.header-nav-list--sp {
  width: 320px;
  overflow: scroll;
  scrollbar-width: none;
}

.header-nav-list--sp::-webkit-scrollbar {
  display: none;
}

.header-nav-list--sp li {
  display: flex;
  align-items: center;
}

.header-nav-list--sp li:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  background-color: var(--color-border-white);
  width: 1px;
  height: 15px;
  margin: 0 16px;
}

@media screen and (min-width: 768px) {
  .header-nav-list--pc {
    gap: 32px;
  }
}

.header-shop-button {
  display: grid;
  place-items: center;
  color: var(--color-font-white);
  background-color: var(--color-bg-primary);
  width: 140px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .header-shop-button {
    width: 170px;
    height: 45px;
  }
}

.header-shop-button-text {
  font-family: var(--font-family-english);
  font-size: 12px;
  letter-spacing: 0.08em;
  padding-left: 0.08em;
}
@media screen and (min-width: 768px) {
  .header-shop-button-text {
    font-size: 16px;
  }
}

/*!
  layout > footer
  ------------------------------
  */
.footer {
  background-color: var(--color-bg-primary);
  color: var(--color-font-white);
  padding: 64px 0 16px 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 0 24px;
  }
}

.footer-logo {
  width: 120px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    width: 200px;
  }
}

.footer-logo img {
  display: block;
}

.footer-shop-nav {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .footer-shop-nav {
    margin-top: 40px;
  }
}

.footer-shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-shop-item:not(:first-of-type)::before {
  content: "/";
  display: inline-block;
  margin: 0 14px;
}
@media screen and (min-width: 768px) {
  .footer-shop-item:not(:first-child)::before {
    margin: 0 16px;
  }
}

.footer-company-information {
  margin-top: 20px;
  display: grid;
  gap: 8px;
}

.footer-company-information span {
  display: block;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.footer-copyright {
  font-family: var(--font-family-english);
  display: block;
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    margin-top: 64px;
  }
}

/* ▼ 固有ページ ▼ */
/*!
  page > top
  ------------------------------
  */
/* トップ_キービジュアル */
.top-kv {
  background-image: url(../img/bg-top-kv-sp.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .top-kv {
    background-image: url(../img/bg-top-kv.jpg);
    height: 685px;
  }
}
/* トップ_コンセプト */
.top-concept {
  padding: 64px 0;
}

.top-concept-text-wrapper {
  display: grid;
  gap: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-concept-text-wrapper {
    gap: 32px;
  }
}
.top-concept-main-text {
  font-size: 16px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .top-concept-main-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 690px) {
  .top-concept-sub-text span:nth-child(2) {
    display: block;
  }
}

/* トップ_メニュー */
.top-menu {
  background-image: url(../img/bg-top-menu-sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .top-menu {
    background-image: url(../img/bg-top-menu.jpg);
  }
}

.top-menu-title {
  font-family: var(--font-family-english);
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.08em;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .top-menu-title {
    font-size: 20px;
  }
}

.top-menu-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--color-font-white);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .top-menu-list-wrapper {
    flex-direction: initial;
    justify-content: center;
    gap: 62px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .top-menu-list-box {
    width: 100%;
  }
}

.top-menu-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-white);
  padding-bottom: 7px;
}

.top-menu-item:not(:first-of-type) {
  padding-top: 8px;
}

/* トップ_ショップリスト */
.top-shop-list-description {
  text-align: center;
}

.top-shop-list-description span:first-child {
  display: block;
}

.top-shop-list-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 16px 14px;
}
@media screen and (min-width: 600px) {
  .top-shop-list-box {
    max-width: 738px;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-inline: auto;
  }
}
@media screen and (min-width: 800px) {
  .top-shop-list-box {
    max-width: 738px;
    margin-inline: auto;
  }
}

.top-shop-list-item {
  display: grid;
  place-items: center;
  width: 155px;
  height: 45px;
  background-color: var(--color-bg-secondary);
  border-radius: 100vh;
}
@media screen and (min-width: 800px) {
  .top-shop-list-item {
    width: 230px;
    height: 55px;
  }
}

@media screen and (min-width: 600px) {
  .top-shop-list-item:nth-of-type(4) {
    order: 3;
  }
}

/* セパレート背景画像 */
.top-separate-bg {
  background-image: url(../img/bg-top-separate-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 170px;
}
@media screen and (min-width: 786px) {
  .top-separate-bg {
    background-image: url(../img/bg-top-separate.jpg);
    height: 370px;
  }
}

/*!
  page > concept
  ------------------------------
  */
.concept-top-bg {
  background-image: url(../img/pic-concept.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .concept-top-bg {
    height: 270px;
  }
}

.concept-text-wrapper {
  display: grid;
  gap: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept-text-wrapper {
    gap: 32px;
  }
}
.concept-main-text {
  font-size: 16px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .concept-main-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 690px) {
  .concept-sub-text span:nth-child(2) {
    display: block;
  }
}

.concept-bottom-bg {
  background-image: url(../img/pic-concept02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .concept-bottom-bg {
    height: 270px;
  }
}

/*!
  page > menu
  ------------------------------
  */
.menu-text-wrapper {
  display: grid;
  gap: 24px;
  text-align: center;
}

.menu-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 361px) {
  .menu-list-item {
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .menu-list-item {
    flex-direction: initial;
    gap: 48px;
    text-align: initial;
  }
}

.menu-list-img {
  width: 324px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .menu-list-img {
    width: 280px;
  }
}

.menu-list-name {
  line-height: 1;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .menu-list-name {
    font-size: 20px;
  }
}

.menu-sub-text span:nth-child(2) {
  display: block;
}

.menu-list-fee {
  line-height: 1;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .menu-list-fee {
    margin-top: 16px;
  }
}

.menu-list-description {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .menu-list-description {
    margin-top: 24px;
  }
}

/*!
  page > shop-list
  ------------------------------
  */
@media screen and (min-width: 600px) {
  .shop-list-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
@media screen and (min-width: 1160px) {
  .shop-list-box {
    gap: 0;
  }
}

.shop-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1160px) {
  .shop-list-item {
    flex-direction: initial;
    gap: 24px;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .shop-list-item:nth-of-type(2) {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .shop-list-img {
    width: 285px;
    height: auto;
  }
}

.shop-list-contents {
  font-size: 12px;
  line-height: 1.55;
  display: grid;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .shop-list-contents {
    font-size: 14px;
  }
}

.shop-list-name {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .shop-list-name {
    font-size: 20px;
  }
}

.shop-list-tel {
  font-size: 18px;
  font-family: var(--font-family-english);
}
@media screen and (min-width: 768px) {
  .shop-list-tel {
    font-size: 22px;
  }
}

.shop-list-tel-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .shop-list-tel-sp {
    display: none;
  }
}

.shop-list-tel-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .shop-list-tel-pc {
    display: block;
  }
}

/*!
  page > single
  ------------------------------
  */
.blog-single-header {
  display: grid;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .blog-single-header {
    gap: 18px;
  }
}

.blog-single-text-wrapper {
  display: grid;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .blog-single-text-wrapper {
    gap: 40px;
  }
}

/*!
  page > error
  ------------------------------
  */
.error-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .error-wrapper {
    max-width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .error-message span:nth-child(2) {
    display: block;
  }
}
